/// ----------------------------------------------------------------------

/// Popover

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'corners';
@use 'animations';
@use 'shadows';
@use 'z-index';

/// -------------------
/// Popover config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$xs !default;

/// -------------------
/// Popover swatches
/// -------------------

.popover {
  display: block;
  padding: spacing.$md;
  z-index: z-index.$top;

  &:focus {
    outline: none;
  }
}

/// -------------------
/// Popover swatches
/// -------------------

.popover__body {
  background-color: white;
  border-radius: corners.$base;
  box-shadow: shadows.$one;
  max-width: 350px;
}
