/// ----------------------------------------------------------------------

/// Radio

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'borders';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'states';
@use 'utilities';

/// -------------------
/// Radio swatches
/// -------------------

$size: 1.5rem !default;
$bg-colour: colours.$ui-two !default;
$bg-colour--checked: colours.$ui-five !default;
$border-radius: corners.$round !default;
$transition: all transitions.$ease !default;

/// -------------------
/// Radio selectors
/// -------------------

.radio {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: $bg-colour;
  border-radius: $border-radius;
  height: $size;
  width: $size;
  box-sizing: border-box;
  transition: $transition;
  cursor: pointer;

  &--disabled,
  &:disabled {
    @include states.disabled;
  }

  &--checked,
  &:checked {
    background-color: $bg-colour--checked;
  }

  &:focus-within {
    @include states.focus;
  }
}

/// -------------------
/// Hide default input
/// -------------------

.radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/// -------------------
/// Radio icon
/// -------------------

.radio__icn {
  @include utilities.center;
  display: none;
  width: $size * 0.5;
  height: $size * 0.5;
  background-color: white;
  border-radius: $border-radius;

  .radio:checked > &,
  .radio--checked > & {
    display: block;
  }
}