/// ----------------------------------------------------------------------

/// Functions

/// ----------------------------------------------------------------------

// ** THIS IS JUST A TEMPLATE FILE FOR CREATING FUNCTIONS ** //

/// -------------------
/// Function title
/// -------------------
///
/// A short description
///
/// @param {Type} $arg
/// Arg description
///
@function myfunction(
  $arg,
) {
  
  // Do something

  @return $arg;
}

