/// ----------------------------------------------------------------------

/// REM to PX

/// ----------------------------------------------------------------------

@use 'typography';
@use 'strip-unit';

/// -------------------
/// Convert REM to PX
/// -------------------
///
/// @param {String} $rem
/// The pixel size
///
/// @param {Number} $base-font-size
/// The font size to base the conversion on
///
/// @return {String} 
/// The REM value converted to px
///
@function px($rem, $base-font-size: typography.$base-font-size) {
  $px: $rem;

  @if (str-index($string: #{$rem}, $substring: 'rem')) {
    $px: $base-font-size * strip-unit.strip-unit($rem);
  }
  @else if (str-index($string: #{$rem}, $substring: 'px')) {
    $px: $px;
  }
  @else if (unitless($rem)) {
    $px: $rem * 1px;
  }

  @return $px;
}