/// ----------------------------------------------------------------------

/// Corners

/// ----------------------------------------------------------------------

$base:      5px       !default;
$rounded:   999px     !default;
