/// ----------------------------------------------------------------------

/// Max-widths

/// ----------------------------------------------------------------------

$xxs:     50px      !default;
$xs:      70px      !default;
$sm:      90px      !default;
$md:      100px     !default;
$lg:      200px     !default;
$xl:      400px     !default;
$xxl:     500px     !default;
