/// ----------------------------------------------------------------------

/// Base

/// ----------------------------------------------------------------------

///
/// Include this file when access to core variables are needed such as:
///
/// - Colours
/// - Typography
/// - Swatches etc
///
/// This file won't generate any CSS.
///

/// -------------------
/// Mixins
/// ------------------- 

@import '~scss-lib';

/// -------------------
/// Config
/// -------------------

@import 'base/Colours';
@import 'base/Layout';
@import 'base/Movement';
@import 'base/Resets';
@import 'base/Typography';
@import 'base/VisualStyles';
@import 'base/Utilities';
@import 'base/Swatches';
