/// ----------------------------------------------------------------------

/// Animate

/// ----------------------------------------------------------------------

@use 'movement';
@use 'transitions';
@use 'animations';

/// -------------------
/// Animate selectors
/// -------------------

.animate {
  opacity: 0;
  transition: transitions.$ease;

  &--fade-in {
    animation: fadeIn movement.$base animations.$forwards-ease;
  }

  &--fade-in-top {
    animation: fadeInTop movement.$base animations.$forwards-ease;
  }

  &--fade-in-bottom {
    animation: fadeInBottom movement.$base animations.$forwards-ease;
  }

  &--fade-in-left {
    animation: fadeInLeft movement.$base animations.$forwards-ease;
  }

  &--fade-in-right {
    animation: fadeInRight movement.$base animations.$forwards-ease;
  }
}
