/// ----------------------------------------------------------------------

/// Animate

/// ----------------------------------------------------------------------

@use 'movement';
@use 'transitions';
@use 'animations';

/// -------------------
/// Animate selectors
/// -------------------

.animate {
  transition: transitions.$ease;
  will-change: transform, opacity;

  &--fade-in {
    animation: fadeIn movement.$base animations.$forwards-ease;
  }

  &--fade-in-top {
    animation: fadeInTop movement.$base animations.$forwards-ease;
  }

  &--fade-in-bottom {
    animation: fadeInBottom movement.$base animations.$forwards-ease;
  }

  &--fade-in-left {
    animation: fadeInLeft movement.$base animations.$forwards-ease;
  }

  &--fade-in-right {
    animation: fadeInRight movement.$base animations.$forwards-ease;
  }

  &--fade-in-top-center {
    animation: centerFadeInTop movement.$base animations.$forwards-ease;
  }

  &--fade-in-bottom-center {
    animation: centerFadeInBottom movement.$base animations.$forwards-ease;
  }

  &--fade-in-left-center {
    animation: centerFadeInLeft movement.$base animations.$forwards-ease;
  }

  &--fade-in-right-center {
    animation: centerFadeInRight movement.$base animations.$forwards-ease;
  }

  &--swipe-in-left {
    animation: swipeInLeft movement.$base animations.$forwards-ease;
  }

  &--swipe-in-right {
    animation: swipeInRight movement.$base animations.$forwards-ease;
  }

  &--reverse {
    animation-direction: reverse;
  }
}
