/// ----------------------------------------------------------------------

/// Body

/// ----------------------------------------------------------------------

/// -------------------
/// Resets
/// -------------------

body {
  padding: 0;
  margin: 0;
}
