/// ----------------------------------------------------------------------

/// Root styles

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'typography';
@use 'breakpoints';

/// -------------------
/// Font imports
/// -------------------

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Ubuntu:wght@500;700&display=swap');

/// -------------------
/// Html
/// -------------------

html {
  font-size: typography.$base-font-size * 0.65;

  @include lib.breakpoint-up(breakpoints.$xxs) {
    font-size: typography.$base-font-size * 0.85;
  }

  @include lib.breakpoint-up(breakpoints.$sm) {
    font-size: typography.$base-font-size;
  }
}

/// -------------------
/// Body
/// -------------------

body {
  font-family: typography.$font-family;
  line-height: typography.$base-line-height;
  margin: 0;
  padding: 0;
}