/// ----------------------------------------------------------------------

/// Utilities

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'colours';
@use 'max-widths';

/// -------------------
/// Config
/// -------------------

$directions: (
  top: 't',
  bottom: 'b',
  left: 'l',
  right: 'r'
);

/// -------------------
/// Margins
/// -------------------

.m {
  @each $size-name, $size-prop in spacing.$all {
    &--#{$size-name} {
      margin: $size-prop;
    }
  }

  @each $direction-name, $direction-prop in $directions {
    @each $size-name, $size-prop in spacing.$all {
      &--#{$direction-prop}-#{$size-name} {
        margin-#{$direction-name}: $size-prop;
      }
    }
  }

  &--0 {
    margin: 0;
  }
}

/// -------------------
/// Padding
/// -------------------

.p {
  &--0 {
    padding: 0;
  }

  @each $size-name, $size-prop in spacing.$all {
    &--#{$size-name} {
      padding: $size-prop;
    }
  }

  @each $direction-name, $direction-prop in $directions {
    @each $size-name, $size-prop in spacing.$all {
      &--#{$direction-prop}-#{$size-name} {
        padding-#{$direction-name}: $size-prop;
      }
    }
  }
}

/// -------------------
/// Backgrounds
/// -------------------

.bg {
  @each $colour-name, $colour-prop in colours.$brand {
    &--brand-#{$colour-name} {
      background-color: $colour-prop;
    }
  }

  @each $colour-name, $colour-prop in colours.$ui {
    &--ui-#{$colour-name} {
      background-color: $colour-prop;
    }
  }

  @each $colour-name, $colour-prop in colours.$state {
    &--state-#{$colour-name} {
      background-color: $colour-prop;
    }
  }
}

/// -------------------
/// Max Widths
/// -------------------

.mw {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
  
  @each $width-name, $width-prop in max-widths.$all {
    &--#{$width-name} {
      max-width: $width-prop;
    }
  }
}

/// -------------------
/// Max Widths
/// -------------------

.interactive {
  cursor: pointer;
}
