{
  "ignorePatterns": [
    "index.ts",
    "dist",
    "*.test.tsx",
    "*.spec.js", 
    "_Template"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "plugin:react/recommended",
    "standard-with-typescript"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "react/prop-types": "off"
  }
}