/// ----------------------------------------------------------------------

/// Block

/// ----------------------------------------------------------------------

@use 'spacing';

/// -------------------
/// Block selectors
/// -------------------

.block {
  box-sizing: border-box;
}

/// -------------------
/// Block header
/// -------------------

.block__header.header {
  padding: 0;
  border-bottom: none;
}