/// ----------------------------------------------------------------------

/// Buttons

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Button config
/// -------------------

$btn-pad: get-prop($spacing, 'md');
$btn-border-width: 2px;

$btn-types: (
  'primary': (
    background-color: get-prop($colours, 'brand', 'one'),
    color: get-prop($colours, 'brand', 'two'),
    
    'focus': (
      border-color: get-prop($colours, 'brand', 'two'),
    )
  ),
  'secondary': (
    background-color: get-prop($colours, 'brand', 'two'),
    color: get-prop($colours, 'ui', 'one'),

    'focus': (
      border-color: get-prop($colours, 'brand', 'one'),
    )
  ),
  'tertiary': (
    background-color: get-prop($colours, 'ui', 'three'),
    color: get-prop($colours, 'ui', 'one'),

    'focus': (
      border-color: get-prop($colours, 'brand', 'two'),
    )
  )
);

/// -------------------
/// Button selectors 
/// -------------------

.btn {
  @include reset-style;
  @include flow-component;
  @include interactive-component;
  border-radius: get-prop($border-radii, 'rounded');
  padding-left: $btn-pad;
  padding-right: $btn-pad;
  font-family: $font-family--alt;
  font-weight: $font-bold;

  &:focus {
    outline: none;
  }

  @each $type in $btn-types {
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($btn-types, $type-name));
    }
  }
}