/// ----------------------------------------------------------------------

/// Buttons

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'corners';
@use 'colours';
@use 'borders';
@use 'typography';
@use 'transitions';
@use 'states';

/// -------------------
/// Button config
/// -------------------

$padding-x: spacing.$xl !default;
$transition: all transitions.$ease !default;

/// -------------------
/// Button selectors
/// -------------------

.btn {
  @include lib.resets-style;
  @include lib.components-flow;
  position: relative;
  border-radius: corners.$base;
  font-family: typography.$font-family--alt;
  font-weight: typography.$font-bold;
  transition: $transition;
  user-select: none;
  text-decoration: none;
  padding-left: $padding-x;
  padding-right: $padding-x;
  align-self: center;
  cursor: pointer;

  &--primary {
    background-color: colours.$brand-one;
    color: white;

    &:hover {
      background-color: colours.$brand-two;
    }
  }

  &--secondary {
    border-color: colours.$ui-four;
    color: colours.$ui-four;

    &:hover {
      color: #fff;
      background-color: colours.$ui-four;
    }
  }

  &--sm {
    padding-left: $padding-x * 0.5;
    padding-right: $padding-x * 0.5;
  }

  &--lg {
    padding-left: $padding-x * 1.5;
    padding-right: $padding-x * 1.5;
  }

  &:focus {
    @include states.focus;
  }

  &--disabled,
  &:disabled {
    @include states.disabled;
  }
}

/// -------------------
/// Button icon
/// -------------------

.btn__icn.icn {
  &:first-child {
    transform: translateX(-$padding-x / 2);

    .btn--sm & {
      transform: translateX(-$padding-x / 3.5);
    }

    .btn--lg & {
      transform: translateX(-$padding-x);
    }
  }

  &:last-child {
    transform: translateX($padding-x / 2);

    .btn--sm & {
      transform: translateX($padding-x / 3.5);
    }

    .btn--lg & {
      transform: translateX($padding-x);
    }
  }
}

/// -------------------
/// Button icon path
/// -------------------

.btn__icn-path.icn__path {
  transition: $transition;

  .btn--primary & {
    fill: white;
  }

  .btn--secondary & {
    fill: colours.$ui-four;
  }

  .btn--secondary:hover & {
    fill: #fff;
  }
}

/// -------------------
/// Button group
/// -------------------

.btn {
  &__group {
    & > .btn {
      border-radius: 0;
    }

    & > .btn:first-child {
      border-top-left-radius: corners.$base;
      border-bottom-left-radius: corners.$base;
    }

    & > .btn:last-child {
      border-top-right-radius: corners.$base;
      border-bottom-right-radius: corners.$base;
    }
  }
}
