/// ----------------------------------------------------------------------

/// Navtree

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'colours';
@use 'transitions';
@use 'animations';
@use 'typography';
@use 'z-index';
@use 'breakpoints';

/// -------------------
/// Navtree config
/// -------------------

$nav-left: spacing.$md * 4;
$nav-height: 70px;

/// -------------------
/// Navtree selectors
/// -------------------

.navtree {
  position: relative;
  z-index: z-index.$top;
  padding: 0;
  background-color: map-get(colours.$ui, 'one');
}

/// -------------------
/// Navtree selectors
/// -------------------

.navtree__list {
  @include lib.resets-list;
  transform-origin: top;
  animation: fadeInTop 0.3s forwards ease;
  display: none;
  
  &:not([data-depth="0"]) {
    margin-left: spacing.$xl;
  }

  &--open {
    display: block;
  }
}
/// -------------------
/// Navtree item
/// -------------------

.navtree__item {

}

/// -------------------
/// Navtree link
/// -------------------

.navtree__link {
  @include lib.resets-style;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  font-size: typography.$base-font-size;
  font-family: typography.$font-family--alt;
  padding: spacing.$lg spacing.$md;
  text-decoration: none;
  white-space: nowrap;
  color: map-get(colours.$ui, 'five');
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(black, 0.025);

  &:hover {
    color: map-get(colours.$brand, 'two');
  }

  .navtree__item:nth-child(2n) & {
    background-color: rgba(white, 0.025);
  }
}
