/// ----------------------------------------------------------------------

/// Navtree

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'colours';
@use 'transitions';
@use 'animations';
@use 'typography';
@use 'z-index';
@use 'breakpoints';

/// -------------------
/// Navtree config
/// -------------------

$nav-left: spacing.$md * 4;
$nav-height: 70px;

/// -------------------
/// Navtree selectors
/// -------------------

.navtree {
  position: relative;
  z-index: z-index.$top;
  padding: 0;
  background-color: colours.$ui-two;

  &--compact {
    max-width: 3.5rem;
  }
}

/// -------------------
/// Navtree selectors
/// -------------------

.navtree__list {
  @include lib.resets-list;
  transform-origin: top;
  animation: fadeInTop 0.3s forwards ease;
  display: none;
  background-color: colours.$ui-two;

  &--active {
    display: block;
  }

  &--expand-x {
    position: absolute;
    top: 0;
    bottom: 0;
    animation: fadeInLeft 0.3s forwards ease;
    height: 100%;
    width: 100%;
  }
}
/// -------------------
/// Navtree item
/// -------------------

.navtree__item {
  & .navtree__list--expand-y & {
    background-color: colours.$ui-three;
  }
}

/// -------------------
/// Navtree link
/// -------------------

.navtree__link {
  @include lib.resets-style;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
  font-size: typography.$base-font-size;
  font-family: typography.$font-family--alt;
  padding: spacing.$md;
  text-decoration: none;
  white-space: nowrap;
  color: map-get(colours.$ui, 'five');
  text-align: left;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    color: map-get(colours.$brand, 'two');
  }

  &--back {
    background-color: rgba(white, 0.5);
  }
}

/// -------------------
/// Navtree link
/// -------------------

.navtree__link-text {
  display: none;

  .navtree--expanded & {
    display: block;
  }
}

/// -------------------
/// Navtree icon
/// -------------------

.navtree__icn {
  .navtree--expanded & {
    margin-right: spacing.$md;
  }

  &--expand {
    display: none;

    .navtree--expanded & {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
