/// ----------------------------------------------------------------------

/// Text

/// ----------------------------------------------------------------------

@import 'Base.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap');

/// -------------------
/// Text selectors
/// -------------------

@each $type in $typography {
  $type-name: nth($type, 1);
  $type-props: nth($type, 2);

  .#{$type-name} {
    @include apply-props($type-props);
    width: 100%;
    margin-top: 0;
    margin-bottom: get-prop($spacing, 'md');
    
    &:last-child {
      margin-bottom: 0
    }
  }
}