/// ----------------------------------------------------------------------

/// Text

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'breakpoints';
@use 'typography';
@use 'spacing';

/// -------------------
/// Font imports
/// -------------------

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Ubuntu:wght@300;500;700&display=swap');

/// -------------------
/// Text config
/// -------------------

$margin-bottom: spacing.$sm !default;

/// -------------------
/// Text selectors
/// -------------------

.text {
  margin-top: 0;
  margin-bottom: $margin-bottom;

  @each $variant-name, $variant-prop in typography.$all {
    &--#{$variant-name} {
      @include lib.mixin-apply-props(
        map-get(typography.$all, $variant-name)
      );
    }
  }

  &--inverse {
    color: white;
  }

  &--bold {
    font-weight: typography.$font-bold;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--screen-reader {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }

  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }
}
