/// ----------------------------------------------------------------------

/// Page Footer

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'max-widths';
@use 'borders';
@use 'animations';
@use 'corners';
@use 'colours';
@use 'typography';

/// -------------------
/// Page Footer config
/// -------------------

$max-width: max-widths.$xl !default;

/// -------------------
/// Page Footer selectors
/// -------------------

.page-footer {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: colours.$ui-five;
  padding: spacing.$xxl;
}

/// -------------------
/// Page Footer selectors
/// -------------------

.page-footer__body {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

/// -------------------
/// Footer selectors
/// -------------------

.page-footer__img {
  width: 100%;
  max-width: 100px;
  
  & > .img {
    background-image: none;
  }
}

/// -------------------
/// Footer selectors
/// -------------------

.page-footer__list {
  @include lib.resets-list;
}

/// -------------------
/// Footer selectors
/// -------------------

.page-footer__item {
  margin: spacing.$md 0;
}

/// ------------------- 
/// Footer media
/// -------------------

.page-footer__link {}

/// -------------------
/// Footer media
/// -------------------

.page-footer__sub {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

