/// ----------------------------------------------------------------------

/// Template

/// ----------------------------------------------------------------------

// ** THIS IS A TEMPLATE FOR COMPONENT STYLING ** //

@import 'Base.scss';

/// -------------------
/// Template config
/// -------------------

$template-pad: get-prop($spacing, 'lg');
$template-border-width: 2px;

$template-types: (
  'primary': (
    background-color: get-prop($colours, 'brand', 'one')
  ),
  'secondary': (
    background-color: get-prop($colours, 'brand', 'two')
  ),
  'tertiary': (
    background-color: get-prop($colours, 'ui', 'three')
  ),
);

/// -------------------
/// Template selectors
/// -------------------

.template {
  @include block-component;
  
  @each $type in $template-types {
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($template, $type-name));
    }
  }
}