/// ----------------------------------------------------------------------

/// Textarea

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'corners';
@use 'borders';
@use 'colours';
@use 'typography';
@use 'transitions';
@use 'states';

/// -------------------
/// Textarea config
/// -------------------

$padding-x: spacing.$sm !default;

/// -------------------
/// Textarea selectors
/// -------------------

.textarea {
  @include lib.resets-style;
  @include lib.components-flow;
  width: 100%;
  min-height: 80px;
  padding-left: $padding-x;
  padding-right: $padding-x;
  border-radius: corners.$base;
  background-color: colours.$ui-one;
  font-family: typography.$font-family--alt;
  font-weight: typography.$font-light;
  transition: border-color transitions.$ease;
  resize: none;

  &:focus {
    @include states.focus;
  }

  &--disabled,
  &:disabled {
    @include states.disabled;
  }
}
