/// ----------------------------------------------------------------------

/// List

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';

/// -------------------
/// List selectors
/// -------------------

.list {
  @include lib.resets-list;
}

/// -------------------
/// List selectors
/// -------------------

.list__item {
  margin: spacing.$md 0;
}

/// -------------------
/// List selectors
/// -------------------

.list__link {}