/// ----------------------------------------------------------------------

/// List

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'typography';
@use 'spacing';
@use 'resets';

/// -------------------
/// List config
/// -------------------

$item-margin-x: 0 !default;
$item-margin-y: spacing.$sm !default;

/// -------------------
/// List selectors
/// -------------------

.list {
  @include resets.list;
}

/// -------------------
/// List selectors
/// -------------------

.list__item {
  margin: $item-margin-y $item-margin-x;
}

/// -------------------
/// List selectors
/// -------------------

.list__link {}