/// ----------------------------------------------------------------------

/// Grid

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Grid swatches
/// -------------------

$grid-columns: 12;
$grid-gutter: get-prop($spacing, 'lg');

$grid: (
  'gutter': (
    grid-gap: $grid-gutter
  ),
  'match': (
    grid-auto-rows: 1fr
  )
);

$grid-shared: (
  'top': (
    align-items: start
  ),
  'center-y': (
    align-items: center
  ),
  'bottom': (
    align-items: start
  ),
  'left': (
    justify-content: start
  ),
  'center-x': (
    justify-content: center
  ),
  'right': (
    justify-content: end
  )
);

/// -------------------
/// Grid selectors
/// -------------------

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);

  @each $type in $grid-shared {
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($grid-shared, $type-name));
    }
  }
}

.grid__item {
  display: grid;
  grid-column: span $grid-columns;
  
  @include breakpoint-up('sm') {
    @for $i from 0 through $grid-columns {  
      &--#{$i} {
        grid-column: span $i;
      }
    }
  }

  @each $type in $grid-shared {
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($grid-shared, $type-name));
    }
  }
}
