/// ----------------------------------------------------------------------

/// Grid

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Grid config
/// -------------------

$grid-columns: 12;
$grid-gutter: get-prop($spacing, 'lg');

$grid-types: (
  'gutter': (
    grid-gap: $grid-gutter,
    grid-row-gap: $grid-gutter
  ),
  'match': (
    grid-auto-rows: 1fr
  )
);

$grid-align: (
  'top': (
    align-items: start
  ),
  'center-y': (
    align-items: center
  ),
  'bottom': (
    align-items: end
  ),
  'left': (
    justify-content: start
  ),
  'center-x': (
    justify-content: center,
  ),
  'right': (
    justify-content: end
  )
);

/// -------------------
/// Grid selectors
/// -------------------

.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);

  @each $type in $grid-types {
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($grid-types, $type-name));
    }
  }
}

.grid__item {
  display: grid;
  align-self: start;
  grid-column: span $grid-columns;
  
  @each $type in $grid-align { 
    $type-name: nth($type, 1);
    
    &--#{$type-name} {
      @include apply-props(get-prop($grid-align, $type-name));
    }
  }

  @include breakpoint-up('sm') {
    @for $i from 0 through $grid-columns {  
      &--#{$i} {
        grid-column: span $i;
      }
    }
  }
}
