/// ----------------------------------------------------------------------

/// Layout

/// ----------------------------------------------------------------------

/// -------------------
/// Spacers
/// ------------------- 

$spacing: (
  'xxs': .25rem, // 4px
  'xs': .5rem, // 8px
  'sm': .75rem, // 12px
  'md': 1rem, // 16px
  'lg': 1.5rem, // 24px
  'xl': 2rem, // 32px
  'xxl': 3rem, // 48px
);

/// -------------------
/// Breakpoints
/// -------------------

$breakpoints: (
  'sm': 768px, 
  'lg': 1200px, 
);

/// -------------------
/// Z Indexes
/// -------------------

$z-index: (
  'back': -1,
  'default': 1,
  'top': 999,
);

/// -------------------
/// Max-widths
/// -------------------

$max-widths: (
  'sm': 920px,
  'md': 1200px,
  'lg': 1400px,
);
