/// ----------------------------------------------------------------------

/// Resets

/// ----------------------------------------------------------------------

///
/// Reset those pesky list styles
///
@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

///
/// A quick general style reset - useful for buttons
///
@mixin reset-style {
  background: none;
  border: none;
}
