/// ----------------------------------------------------------------------

/// Swatches

/// ----------------------------------------------------------------------

$block-component-padding: height-to-pad(
  $height: 60px,
  $border-width: 0,
  $line-height: $base-line-height,
  $font-size: $base-font-size
);

$block-component: (
  display: block,
  line-height: $base-line-height,
  font-size: $base-font-size,
  border-width: 0,
  padding-top: map-get($block-component-padding, 'top'),
  padding-bottom: map-get($block-component-padding, 'bottom'),
);
