/// ----------------------------------------------------------------------

/// Swatches

/// ----------------------------------------------------------------------

/// -------------------
/// Components
/// -------------------

///
/// Flow style components which should match with adjacent components and
/// visually work together, such as buttons & form inputs.
///
$flow-height: 3rem;
$flow-border-width: 2px;

@mixin flow-component {
  $padding: height-to-pad($flow-height, $flow-border-width, $base-line-height, $base-font-size);
  
  display: inline-block;
  padding-top: get-prop($padding, 'top');
  padding-bottom: get-prop($padding, 'bottom');
  border-width: $flow-border-width;
  line-height: $base-line-height;
  font-size: $base-font-size;
}

///
/// Block style components which contain other components
///
@mixin block-component {
  display: block;
  padding: get-prop($spacing, 'md');
  box-shadow: get-prop($shadows, 'two');
  box-sizing: border-box;
}

///
/// A global interactive style
///
@mixin interactive-component {
  cursor: pointer;
  
  &:hover {
    box-shadow: get-prop($shadows, 'one');
    transition: get-prop($transition, 'ease');
    transform: translate(1px, -1px);
  }
}