/// ----------------------------------------------------------------------

/// Typography

/// ----------------------------------------------------------------------

$base-font-size:    16px;
$base-line-height:  1.5;

$font-family:       'Open Sans', sans-serif;
$font-family--alt:  'Arial', sans-serif;

$font-bold:         700;
$font-regular:      500;
$font-light:        300;

$typography: (
  'alpha': (
    font-size: 2.25rem, // 36px
    font-family: $font-family--alt,
    font-weight: $font-bold,
    letter-spacing: 1px,
  ),
  'beta': (
    font-size: 1.75rem, // 28px
    font-family: $font-family--alt,
    font-weight: $font-bold,
    letter-spacing: 1px,
  ),
  'gamma': (
    font-size: 1.5rem, // 24px
    font-family: $font-family--alt,
    font-weight: $font-regular,
    letter-spacing: 1.2px,
  ),
  'delta': (
    font-size: 1.125rem, // 18px
    font-family: $font-family--alt,
    font-weight: $font-regular,
  ),
  'epsilon': (
    font-size: 1rem, // 16px
    font-family: $font-family--alt,
    font-weight: $font-regular,
  ),
  'intro': (
    font-size: 0.875rem, // 14px
    font-family: $font-family,
    font-weight: $font-regular,
    letter-spacing: 1.2px,
  ),
  'p': (
    font-size: 0.875rem, // 14px
    font-family: $font-family,
    font-weight: $font-light,
    letter-spacing: 1.2px,
  ),
  'small': (
    font-size: 0.75rem, // 12px
    font-family: $font-family--alt,
    font-weight: $font-regular,
    letter-spacing: 1.2px,
  ),
);