/// ----------------------------------------------------------------------

/// Visual Styles

/// ----------------------------------------------------------------------

/// -------------------
/// Shadows
/// -------------------

$shadows: (
  'one': 0 5px 10px 0 get-prop($colours, 'ui', 'four'),
) !default;

/// -------------------
/// Borders
/// -------------------

$borders: (
  'one': solid 1px get-prop($colours, 'ui', 'three'),
  'two': dashed 1px get-prop($colours, 'ui', 'four'),
) !default;

/// -------------------
/// Border radius
/// -------------------

$border-radii: (
  'base': 5px,
  'rounded': 999px,
) !default;

/// -------------------
/// States
/// -------------------

$states: (
  'success': (
    background-color: get-prop($colours, 'state', 'success')
  ),
  'warning': (
    background-color: get-prop($colours, 'state', 'warning')
  ),
  'error': (
    background-color: get-prop($colours, 'state', 'error')
  ),
  'disabled': (
    opacity: .5,
    pointer-events: none
  ),
  'hidden': (
    display: none,
  ),
  'visible': (
    display: block
  )
) !default;
