/// ----------------------------------------------------------------------

/// Utilities

/// ----------------------------------------------------------------------

/// -------------------
/// Fill
/// -------------------
///
/// Make a component fill its parent container
///
@mixin fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/// -------------------
/// Center
/// -------------------
///
/// Center a component within its parent container using absolute positioning
///
@mixin center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}