/// ----------------------------------------------------------------------

/// RenderCounter

/// ----------------------------------------------------------------------

@use 'spacing';

/// -------------------
/// RenderCounter config
/// -------------------

$padding-x: spacing.$xs !default;
$padding-y: spacing.$xs !default;

/// -------------------
/// RenderCounter selectors
/// -------------------

.rendercounter {
  display: inline-block;
  background-color: '#ccc';
  padding: $padding-y $padding-x;
}
