/// ----------------------------------------------------------------------

/// SideNav

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'colours';
@use 'transitions';
@use 'animations';
@use 'typography';
@use 'z-index';
@use 'breakpoints';

/// -------------------
/// SideNav config
/// -------------------

$nav-left: spacing.$md * 4;
$nav-height: 70px;

@keyframes fadeInNav {
  0% {
    left: $nav-left - spacing.$sm;
    opacity: 0;
  }
  100% {
    left: $nav-left;
    opacity: 1;
  }
}

@keyframes navList {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

/// -------------------
/// SideNav selectors
/// -------------------

.sideNav {
  position: relative;
  z-index: z-index.$top;

  &--vertical {
    padding: 0;
    background-color: map-get(colours.$ui, 'one');
  }
}

/// -------------------
/// SideNav selectors
/// -------------------

.sideNav__list {
  @include lib.resets-list;

  .sideNav--vertical & & {
    margin-left: spacing.$md;
    transform-origin: top;
    animation: navList 0.3s forwards ease;
  }
}
/// -------------------
/// SideNav item
/// -------------------

.sideNav__item {
  .sideNav--horizontal & {
    position: relative;
  }
}
/// -------------------
/// SideNav link
/// -------------------

.sideNav__link {
  @include lib.resets-style;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  font-size: typography.$base-font-size;
  font-family: typography.$font-family--alt;
  padding: spacing.$lg spacing.$md;
  text-decoration: none;
  white-space: nowrap;
  color: map-get(colours.$ui, 'five');
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: map-get(colours.$brand, 'two');
  }

  .sideNav--horizontal & {
    @include lib.breakpoint-up(breakpoints.$sm) {
      padding: spacing.$sm;
    }
  }

  .sideNav--vertical & {
    width: 100%;
    text-align: left;
  }

  .sideNav--vertical .sideNav__item:nth-child(2n) & {
    background-color: rgba(black, 0.025);
  }

  .sideNav--inverse & {
    color: white;

    &:hover {
      background-color: rgba(white, 0.1) !important;
    }
  }

  .sideNav--inverse.sideNav--vertical .sideNav__item:nth-child(2n) & {
    background-color: rgba(white, 0.025);
  }
}
