/// ----------------------------------------------------------------------

/// Label

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'colours';
@use 'typography';
@use 'spacing';

/// -------------------
/// Label selectors
/// -------------------

.label {
  display: block;
  font-weight: typography.$font-family--alt;
  font-family: typography.$font-regular;

  &--interactive {
    cursor: pointer;
  }

  &--inline {
    display: inline-block;
  }
}
