/// ----------------------------------------------------------------------

/// Select

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';
@use 'corners';
@use 'borders';
@use 'shadows';
@use 'gradients';
@use 'colours';
@use 'typography';
@use 'transitions';
@use 'states';
@use 'z-index';

/// -------------------
/// Select config
/// -------------------

$padding-x: spacing.$sm !default;
$bg-colour: colours.$ui-one !default;

/// -------------------
/// Select wrapper
/// -------------------

.select {
  display: inline-block;
  position: relative;

  &--disabled,
  &:disabled {
    @include states.disabled;
  }

  &:focus-within {
    outline: none;
  }
}

/// -------------------
/// Select input
/// -------------------

.select__input {
  @include lib.resets-style;
  @include lib.components-flow;
  width: 100%;
  padding-left: $padding-x;
  padding-right: $padding-x * 2.5;
  font-family: typography.$font-family;
  font-weight: typography.$font-light;
  border-radius: corners.$base;
  background-color: $bg-colour;
  transition: all transitions.$ease;
  appearance: none;

  .field--error & {
    border-color: colours.$state-error;
  }

  .field--warning & {
    border-color: colours.$state-warning;
  }

  .field--success & {
    border-color: colours.$state-success;
  }

  &:read-only {
    cursor: pointer;
  }

  &:focus {
    @include states.focus;
  }
}

/// -------------------
/// False options list
/// -------------------

.select__options {
  @include lib.resets-list;
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: $bg-colour;
  border-radius: corners.$base;
  max-height: 350px;
  overflow-y: auto;
  z-index: z-index.$top - 1;
}

/// -------------------
/// Select option
/// -------------------

.select__option {
  @include lib.resets-style;
  position: relative;

  &--sticky {
    position: sticky;
    top: 0;
    background-color: colours.$ui-one;
    box-shadow: shadows.$one;
    z-index: z-index.$default;
    white-space: nowrap;
    overflow-x: auto;
  }

  &--hidden {
    display: none;
  }
}

/// -------------------
/// Select button (option)
/// -------------------

.select__option-btn {
  @include lib.resets-style;
  width: 100%;
  font-size: typography.$base-font-size;
  font-family: typography.$font-family;
  text-align: left;
  padding: spacing.$md;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(white, 0.5);
    font-weight: typography.$font-medium;
    outline: none;
  }

  &:disabled {
    @include states.disabled;
  }
}

/// -------------------
/// Select button
/// -------------------

.select__clear {
  @include lib.utilities-center-y;
  font-weight: typography.$font-regular;
  right: ($padding-x * 2) + spacing.$xs;
}

/// -------------------
/// Select checkbox
/// -------------------

.select__checkbox {
  @include lib.utilities-center-y;
  left: $padding-x;
  pointer-events: none;
}

/// -------------------
/// Select chevron icon
/// -------------------

.select__icn {
  @include lib.utilities-center-y;
  right: $padding-x;
}
