/// ----------------------------------------------------------------------

/// Card

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'corners';
@use 'colours';
@use 'animations';
@use 'transitions';
@use 'shadows';
@use 'utilities';
@use 'resets';
@use 'z-index';

/// -------------------
/// Card config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;
$bg-colour: white !default;
$box-shadow: shadows.$one !default;
$border-radius: corners.$base !default;

/// -------------------
/// Card selectors
/// -------------------

.card {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $bg-colour;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

/// -------------------
/// Card header
/// -------------------

.card__header {
  padding: $padding-y $padding-x;
}

/// -------------------
/// Card body
/// -------------------

.card__body {
  padding: $padding-y $padding-x;
}

/// -------------------
/// Card footer
/// -------------------

.card__footer.footer {
  background-color: transparent;
}