/// ----------------------------------------------------------------------

/// Page Header

/// ----------------------------------------------------------------------

@use 'colours';
@use 'z-index';

/// -------------------
/// Page Header selectors
/// -------------------

.page-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: colours.$ui-two;
  z-index: z-index.$page-header;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}