/// ----------------------------------------------------------------------

/// Icon

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'colours';
@use 'typography';
@use 'spacing';

/// -------------------
/// Icon config
/// -------------------

$sizes: (
  xs: 0.5rem,
  sm: 0.75rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
) !default;

$colours: (
  dark: colours.$ui-five,
  light: colours.$ui-one,
  success: colours.$state-success,
  warning: colours.$state-warning,
  error: colours.$state-error,
) !default;

/// -------------------
/// Icon selectors
/// -------------------

.icn {
  display: inline-block;

  @each $size in $sizes {
    $size-name: nth($size, 1);
    $size-prop: nth($size, 2);
    
    &--#{$size-name} {
      width: $size-prop;
      height: $size-prop;
    }
  }
}

/// -------------------
/// Icon svg
/// -------------------

.icn__svg {
  display: flex;
  fill: inherit;
}

.icn__path {
  @each $colour in $colours {
    $colour-name: nth($colour, 1);
    $colour-prop: nth($colour, 2);
    
    .icn--#{$colour-name} & {
      fill: $colour-prop;
    }
  }
}