/// ----------------------------------------------------------------------

/// Navigation

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Navigation config
/// -------------------

$navigation-pad: get-prop($spacing, 'lg');

/// -------------------
/// Navigation selectors
/// -------------------

.nav {
  padding-top: $navigation-pad;
  padding-bottom: $navigation-pad;
}

.nav__brand {
  height: 2rem; 
}

.nav__img {
  height: 100%;
}

.nav__list {
  @include list;
  width: 100%;
  display: flex;
}

.nav__item {
  width: 100px;
  text-align: center;
}

.nav__link {
  position: relative;
  display: block;
  padding: get-prop($spacing, 'sm');
  font-family: $font-family--alt;
  text-decoration: none;
  color: get-prop($colours, 'ui', 'five');

  &--active, &:hover {
    color: get-prop($colours, 'brand', 'one');
  }
}