/// ----------------------------------------------------------------------

/// Navigation

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'typography';
@use 'resets';
@use 'colours';
@use 'corners';
@use 'transitions';
@use 'animations';
@use 'breakpoint';
@use 'max-widths';
@use 'utilities';
@use 'z-index';

/// -------------------
/// Navigation config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;
$max-width: max-widths.$xl !default;
$bar-bg-colour: colours.$ui-two !default;
$lists-bg-colour: colours.$ui-two !default;
$brand-width: 50px !default;
$toggle-size: spacing.$lg !default;
$item-margin: spacing.$md !default;
$link-padding-x: 0 !default;
$link-padding-y: spacing.$sm !default;
$link-colour: colours.$ui-five !default;
$link-colour-hover: colours.$brand-one !default;
$link-font-family: typography.$font-family--alt !default;

/// -------------------
/// Navigation selectors
/// -------------------

.nav {
  position: relative; 
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  z-index: z-index.$top;
  
  @include breakpoint.up('sm') {
    padding: $padding-y $padding-x;
  }
}

/// -------------------
/// Navigation Bar
/// -------------------

.nav__bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: $padding-y $padding-x;
  z-index: z-index.$top + 1;
  
  @include breakpoint.up('sm') {
    position: absolute;
    padding: 0;
    top: 0; 
    bottom: 0;

    .nav--b-s > & {
      left: $padding-x;
    }
    
    .nav--b-c > & {
      @include utilities.center-x;
      width: $brand-width;
    }

    .nav--b-e > & {
      right: $padding-x;
    }
  }
}

/// -------------------
/// Navigation toggler for mobile
/// -------------------

.nav__toggle {
  @include resets.style;
  grid-area: toggle;
  align-self: center;
  width: $toggle-size;
  height: $toggle-size;
  font-size: 0;
  padding: 0;
  opacity: 0.5;
  transition: opacity transitions.$ease;
  cursor: pointer;

  @include breakpoint.up('sm') {
    display: none;
  }

  .nav--b-s > & {
    justify-self: end;
  }

  &:hover {
    opacity: 1;
  }
}

/// -------------------
/// Navigation logo/img
/// -------------------

.nav__brand {
  width: $brand-width;
  height: auto;
  
  @include breakpoint.up('sm') {
    @include utilities.center-y;
  }
  
  .nav--b-e & {
    @include breakpoint.up('sm') {
      right: 0;
    }
  }
  
  .nav__lists & {
    display: none;
    
    @include breakpoint.up('sm') {
      display: block;
    }
  }
}

.nav__img {
  width: 100%;
  height: auto;
  background-image: none;
}

/// -------------------
/// Navigation list
/// -------------------

.nav__lists {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: $padding-x;
  padding-right: $padding-x;
  background-color: $lists-bg-colour;
  
  @include breakpoint.up('sm') {
    display: grid;
    position: relative;
    padding: 0;
    background: none;
    grid-template-columns: auto;
    grid-template-areas: 'links-start links-center links-end';
  }
  
  .nav--open & {
    display: block;
    animation: fadeInTop 0.3s animations.$forwards-ease;
    z-index: z-index.$top;
  }
  
  .nav--b-c & {
    @include breakpoint.up('sm') {
      grid-template-columns: auto $brand-width auto;
      grid-template-areas: 'links-start brand links-end';
    }
  }
  
  .nav--b-s & {
    @include breakpoint.up('sm') {
      grid-template-columns: $brand-width auto auto;
      grid-template-areas: 'brand links-start links-end';
    }
  }
  
  .nav--b-e & {
    @include breakpoint.up('sm') {
      grid-template-columns: auto auto $brand-width;
      grid-template-areas: 'links-start links-end brand';
    }
  }
}

/// -------------------
/// Navigation list
/// -------------------

.nav__list {
  @include resets.list;
  width: 100%;
  position: relative;

  @include breakpoint.up('sm') {
    display: flex;
  }

  &--start {
    grid-area: links-start;
  }
  
  &--center {
    grid-area: links-center;

    @include breakpoint.up('sm') {
      justify-content: center;
    }
  }
  
  &--end {
    grid-area: links-end;

    @include breakpoint.up('sm') {
      justify-content: flex-end;
    }
  }
}

/// -------------------
/// Navigation list item
/// -------------------

.nav__item {
  text-align: center;

  @include breakpoint.up('sm') {
    margin-left: $item-margin;
    margin-right: $item-margin;
  }
}

/// -------------------
/// Navigation actual link
/// -------------------

.nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: left;
  padding: $link-padding-y $link-padding-x;
  font-family: $link-font-family;
  color: $link-colour;
  
  @include breakpoint.up('sm') {
    width: auto;
    text-align: center;
  }

  &--active, 
  &:hover {
    color: $link-colour-hover;
  }
}