/// ----------------------------------------------------------------------

/// Alert

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'corners';
@use 'colours';
@use 'animations';
@use 'transitions';
@use 'movement';
@use 'shadows';
@use 'spacing';
@use 'states';
@use 'z-index';

/// -------------------
/// Alert config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;
$close-size: 1.5rem !default;

/// -------------------
/// Alert selectors
/// -------------------

.alert {
  position: relative;
  box-sizing: border-box;
  max-width: 800px;
  padding: spacing.$md;
  background-color: white;
  box-shadow: shadows.$one;
  border-radius: corners.$base;
  z-index: z-index.$alert;
  border: 2px solid;

  &--info {
    border-color: colours.$state-info;
    background-color: colours.$state-info-secondary;
    color: colours.$state-info;
  }

  &--success {
    border-color: colours.$state-success;
    background-color: colours.$state-success-secondary;
    color: colours.$state-success;
  }

  &--warning {
    border-color: colours.$state-warning;
    background-color: colours.$state-warning-secondary;
    color: colours.$state-warning;
  }

  &--error {
    border-color: colours.$state-error;
    background-color: colours.$state-error-secondary;
    color: colours.$state-error;
  }
}

/// -------------------
/// Alert close button
/// -------------------

.alert__close {
  @include lib.resets-style;
  position: absolute;
  right: $padding-x;
  top: $padding-x;
  width: $close-size;
  height: $close-size;
  font-size: 0;
  padding: 0;
  opacity: 0.5;
  transition: opacity transitions.$ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

/// -------------------
/// Alert icon
/// -------------------

.alert__icn {
  position: absolute;
  left: $padding-x;
  top: $padding-y + 0.25rem;
}

/// -------------------
/// Alert footer
/// -------------------

.alert__footer {
  background-color: transparent;
}
