/// ----------------------------------------------------------------------

/// Field

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'colours';

/// -------------------
/// Field config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;
$icn-offset: 2rem !default;

/// -------------------
/// Field swatches
/// -------------------

.field {
  align-items: center;
  margin: spacing.$md 0;
}

/// -------------------
/// Field input
/// -------------------

.field__input {
  width: calc(100% - #{$icn-offset});

  .field--error & {
    border-color: colours.$state-error;
  }

  .field--warning & {
    border-color: colours.$state-warning;
  }

  .field--success & {
    border-color: colours.$state-success;
  }
}

/// -------------------
/// Validation icon
/// -------------------

.field__icn {
  vertical-align: middle;
  margin-left: spacing.$md;
}

/// -------------------
/// Validation message
/// -------------------

.field__msg {
  text-align: right;
  padding-right: $icn-offset;

  .field--error & {
    color: colours.$state-error;
  }

  .field--warning & {
    color: colours.$state-warning;
  }

  .field--success & {
    color: colours.$state-success;
  }
}
