/// ----------------------------------------------------------------------

/// Drawer

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'colours';
@use 'breakpoints';
@use 'spacing';

/// -------------------
/// Drawer selectors
/// -------------------

.drawer {
  min-width: 80vw;
  height: 100vh;
  padding: spacing.$md;
  background-color: white;

  @include lib.breakpoint-up(breakpoints.$sm) {
    min-width: 350px;
  }
}
