/// ----------------------------------------------------------------------

/// Header

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'borders';

/// -------------------
/// Header selectors
/// -------------------

.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
