/// ----------------------------------------------------------------------

/// Header

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Header config
/// -------------------

$header-types: (
  'fixed': (
    position: fixed,
    top: 0,
    left: 0,
    right: 0
  )
);

/// -------------------
/// Header selectors
/// -------------------

.header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: get-prop($z-index, 'top');
}