/// ----------------------------------------------------------------------

/// Header

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Header swatches
/// -------------------

$header: (
  position: relative,
  width: 100%,
  z-index: get-prop($z-index, 'top')
);

/// -------------------
/// Header selectors
/// -------------------

.header {
  @include apply-props($header);
}