/// ----------------------------------------------------------------------

/// Header

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'borders';
@use 'typography';

/// -------------------
/// Header selectors
/// -------------------

.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: borders.$ui-two;
  padding: spacing.$lg;
}