/// ----------------------------------------------------------------------

/// Header

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'borders';
@use 'colours';
@use 'spacing';
@use 'z-index';

/// -------------------
/// Header config
/// -------------------

$padding-x: spacing.$lg !default;
$padding-y: spacing.$lg !default;
$border-bottom: borders.$ui-two !default;

/// -------------------
/// Header selectors
/// -------------------

.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-bottom: $border-bottom;
  padding: $padding-y $padding-x;
}