/// ----------------------------------------------------------------------

/// Gallery

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'movement';
@use 'animations';
@use 'breakpoints';
@use 'transitions';
@use 'spacing';
@use 'max-widths';
@use 'z-index';

/// -------------------
/// Gallery config
/// -------------------

$gutter: spacing.$md !default;

/// -------------------
/// Gallery selectors
/// -------------------

.gallery {
  display: block;
  
  &--tiles {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }
  
  &--masonry {
    @include lib.breakpoint-up(breakpoints.$sm) {
      display: grid;
      grid-gap: lib.fn-px($gutter);
      grid-auto-rows: 1px;
    }
  }

  &--sm {
    @include lib.breakpoint-up(breakpoints.$sm) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--md {
    @include lib.breakpoint-up(breakpoints.$sm) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--lg {
    @include lib.breakpoint-up(breakpoints.$sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/// -------------------
/// Gallery selectors
/// -------------------

.gallery__item {
  .gallery--masonry & {
    margin-bottom: $gutter;
    
    @include lib.breakpoint-up(breakpoints.$sm) {
      margin-bottom: 0;
    }
  }
}

/// -------------------
/// Gallery selectors
/// -------------------

.gallery__slider {
  animation: fadeInTop movement.$base animations.$forwards-ease;
}

/// -------------------
/// Gallery selectors
/// -------------------

.gallery__float.float {
  width: 100%;
  max-width: max-widths.$lg;
  z-index: z-index.$top + 1;
}
