/// ----------------------------------------------------------------------

/// Checkbox

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'colours';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'states';
@use 'z-index'; 

/// -------------------
/// Checkbox swatches
/// -------------------

$size: 1.5rem !default;

/// -------------------
/// Checkbox selectors
/// -------------------

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: colours.$ui-two;
  border-radius: corners.$base;
  height: $size;
  width: $size;
  transition: all transitions.$ease;

  &--disabled,
  &:disabled {
    @include states.disabled;
  }

  &:checked,
  &--checked {
    background-color: colours.$ui-five;
  }

  &:focus-within {
    @include states.focus;
  }
}

/// -------------------
/// Hide default input
/// -------------------

.checkbox__input {
  @include lib.utilities-center;
  cursor: pointer;
  opacity: 0;
  width: $size * 1.75;
  height: $size * 1.75;
  margin: 0;
  z-index: z-index.$default;
}

/// -------------------
/// Checkbox icon
/// -------------------

.checkbox__icn {
  @include lib.utilities-center;
  display: none;

  .checkbox__input:checked + &,
  .checkbox--checked > & {
    display: block;
  }
}