/// ----------------------------------------------------------------------

/// Footer

/// ----------------------------------------------------------------------

@use 'apply-props';
@use 'spacing';
@use 'max-widths';
@use 'borders';
@use 'animations';
@use 'breakpoint';
@use 'corners';
@use 'colours';
@use 'typography';
@use 'components';
@use 'resets';

/// -------------------
/// Footer config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default; 
$border-top: borders.$ui-two !default;
$bg-colour: transparent !default; 
$actions-bg-colour: transparent !default;
$sub-border-top: borders.$ui-two !default;
$sub-bg-colour: colours.$ui-one !default; 

/// -------------------
/// Footer selectors
/// -------------------

.footer {
  width: 100%;
  box-sizing: border-box;
  border-top: $border-top;
  background-color: $bg-colour;
}

/// -------------------
/// Footer selectors
/// -------------------

.footer__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: $padding-y $padding-x;
  background-color: $actions-bg-colour;
}

/// -------------------
/// Footer selectors
/// -------------------

.footer__sub {
  width: 100%;
  box-sizing: border-box;
  padding: ($padding-y / 2) $padding-x;
  border-top: $sub-border-top;
  background-color: $sub-bg-colour;
}