/// ----------------------------------------------------------------------

/// Page

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Page swatches
/// -------------------

$page: ();

/// -------------------
/// Page selectors
/// -------------------

.page {
  position: relative;
}
