/// ----------------------------------------------------------------------

/// Overlay

/// ----------------------------------------------------------------------

@use 'spacing';
@use 'animations';
@use 'z-index';

/// -------------------
/// Overlay config
/// -------------------

$bg-colour: black !default;
$bg-colour--inverse: white !default;
$opacity: 0.75 !default;

/// -------------------
/// Overlay selectors
/// -------------------

.overlay { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s animations.$forwards-ease;
  background-color: rgba($bg-colour, $opacity);
  z-index: z-index.$default;
  
  &--inverse {
    background-color: rgba($bg-colour--inverse, $opacity);
  }
  
  &--fixed {
    position: fixed;
    z-index: z-index.$overlay;
  }
}