/// ----------------------------------------------------------------------

/// Table

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';

/// -------------------
/// Table config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;

/// -------------------
/// Table selectors
/// -------------------

.table {
  display: block;
}
