/// ----------------------------------------------------------------------

/// Main style index

/// ----------------------------------------------------------------------

@import 'Base.scss';

/// -------------------
/// Global styles
/// -------------------

body, html {
  line-height: $base-line-height;
}