/// ----------------------------------------------------------------------

/// Progress Bar

/// ----------------------------------------------------------------------

@use 'colours';
@use 'transitions';
@use 'z-index';

/// -------------------
/// Progress Bar config
/// -------------------

$height: 0.75rem !default;

/// -------------------
/// Progress Bar selectors
/// -------------------

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: $height;
  background-color: colours.$state-info;
  transition: width transitions.$linear;
}

/// -------------------
/// Progress Bar container
/// -------------------

.progress-bar__container {
  position: relative;
  width: 100%;
  height: $height;
  background-color: #f2f2f2;
}
