/// ----------------------------------------------------------------------

/// Colours

/// ----------------------------------------------------------------------

/// -------------------
/// Brand
/// -------------------

$brand-one: #4db0da !default;
$brand-two: #18769d !default;

$brand: (
  one: $brand-one,
  two: $brand-two
);

/// -------------------
/// UI (backgrounds, borders etc)
/// -------------------

$ui-one: #f8f8f8 !default;
$ui-two: #ececec !default;
$ui-three: #c0c0c0 !default;
$ui-four: #818181 !default;
$ui-five: #444444 !default;
$ui-six: #131313 !default;

$ui: (
  one: $ui-one,
  two: $ui-two,
  three: $ui-three,
  four: $ui-four,
  five: $ui-five,
  six: $ui-six
);

/// -------------------
/// UI States
/// -------------------

$state-success: #289978 !default;
$state-success-secondary: #e8fbf6 !default;
$state-warning: #bf9d18 !default;
$state-warning-secondary: #fdf6db !default;
$state-error: #aa1515 !default;
$state-error-secondary: #f9e9e9 !default;
$state-info: #3197c1 !default;
$state-info-secondary: #e8f6fd !default;

$state: (
  success: $state-success,
  success-secondary: $state-success-secondary,
  warning: $state-warning,
  warning-secondary: $state-warning-secondary,
  error: $state-error,
  info: $state-info,
  info-secondary: $state-info-secondary
);
