/// ----------------------------------------------------------------------

/// Corners

/// ----------------------------------------------------------------------

$base:      5px       !default;
$round:   999px       !default;
