/// ----------------------------------------------------------------------

/// Movement

/// ----------------------------------------------------------------------

$slow: 1s !default;
$base: 0.3s !default;
$fast: 0.1s !default;
