/// ----------------------------------------------------------------------

/// Spacing

/// ----------------------------------------------------------------------

$auto: auto !default;
$xxs: 0.25rem !default;
$xs: 0.5rem !default;
$sm: 0.75rem !default;
$md: 1rem !default;
$lg: 1.5rem !default;
$xl: 2rem !default;
$xxl: 3rem !default;
$xxxl: 6rem !default;

$all: (
  auto: $auto,
  xxs: $xxs,
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  xxxl: $xxxl
) !default;
