/// ----------------------------------------------------------------------

/// Z Indexes

/// ----------------------------------------------------------------------

$back:          -1     !default;
$default:       1      !default;
$page-header:   100    !default;
$alert:         100    !default;
$tooltip:       100    !default;
$overlay:       100    !default;
$modal:         101    !default;
$top:           999    !default;
