/// ----------------------------------------------------------------------

/// Data Table

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'spacing';

/// -------------------
/// Data Table config
/// -------------------

$padding-x: spacing.$md !default;
$padding-y: spacing.$md !default;

/// -------------------
/// Data Table selectors
/// -------------------

.datatable {
  width: 100%;
}

/// -------------------
/// Data Table controls
/// -------------------

.datatable__controls {
}

/// -------------------
/// Data Table header
/// -------------------

.datatable__header {
}

/// -------------------
/// Data Table header
/// -------------------

.datatable__table {
  table-layout: fixed;
  width: 100%;
}

/// -------------------
/// Data Table selectors
/// -------------------

.datatable__row {
}

/// -------------------
/// Data Table selectors
/// -------------------

.datatable__cell {
  .datatable__header--resizeable & {
    resize: horizontal;
  }
}
