/// ----------------------------------------------------------------------

/// DataTable

/// ----------------------------------------------------------------------

@use '@nestagencyuk/scss_lib' as lib;
@use 'colours';
@use 'borders';
@use 'corners';
@use 'spacing';
@use 'transitions';
@use 'states';
@use 'shadows';
@use 'z-index';

/// -------------------
/// DataTable selectors
/// -------------------

.datatable-container {
  width: 100%;
  border: 1px solid colours.$ui-two;
  border-radius: corners.$base;
  border-collapse: collapse;

  &__inner {
    padding: spacing.$md;
  }
}

/// -------------------
/// DataTable selectors
/// -------------------

.datatable {
  width: 100%;
  border-collapse: collapse;
}

/// -------------------
/// DataTable Header selectors
/// -------------------

.datatable-header {
  display: flex;
  margin-bottom: spacing.$md;

  .datatable-header__item {
    position: relative;
  }
}

/// -------------------
/// DataTable Body Header selectors
/// -------------------

.datatable-body-header__item {
  border-top: 1px solid colours.$ui-two;
  border-right: 1px solid colours.$ui-two;
  border-bottom: 1px solid colours.$ui-two;
  padding: spacing.$xs;
  text-align: left;

  &:first-child {
    border-left: 1px solid colours.$ui-two;
  }
}

/// -------------------
/// DataTable Drop Down selectors
/// -------------------

.datatable__drop-down {
  position: absolute;
  left: 0;
  width: max-content;
  border-radius: corners.$base;
  background-color: #fff;
  box-shadow: shadows.$one;

  &-item {
    border-bottom: borders.$ui-two;
    padding: spacing.$xs;
  }
}
