/// ----------------------------------------------------------------------

/// Link

/// ----------------------------------------------------------------------

@use 'colours';
@use 'spacing';
@use 'transitions';
@use 'typography';

/// -------------------
/// Link selectors
/// -------------------

.link {
  display: inline-flex;
  vertical-align: baseline;
  align-items: center;
  font-family: typography.$font-family;
  font-weight: typography.$font-bold;
  text-decoration: none;
  transition: color transitions.$ease,
    border-color transitions.$ease;
  
  &--primary {
    color: colours.$brand-one;
    fill: colours.$brand-one;
    border-bottom: solid 2px colours.$brand-one;

    &:hover {
      color: colours.$brand-two;
      fill: colours.$brand-two;
      border-color: colours.$brand-two;
    }
  }

  &--secondary {
    color: colours.$brand-two;
    fill: colours.$brand-two;
    font-family: typography.$font-family--alt;
    border-bottom: solid 2px colours.$brand-two;

    &:hover {
      color: colours.$brand-one;
      fill: colours.$brand-one;
      border-color: colours.$brand-one;
    }
  }

  &--tertiary {
    color: colours.$ui-five;
    fill: colours.$ui-five;
    border-bottom: solid 2px colours.$ui-five;

    &:hover {
      color: colours.$brand-one;
      fill: colours.$brand-one;
      border-color: colours.$brand-two;
    }
  }

  &--inverse {
    color: white;
    fill: white;
    font-family: typography.$font-family--alt;
    border-bottom: solid 2px white;

    &:hover {
      color: colours.$brand-two;
      fill: colours.$brand-two;
      border-color: colours.$brand-two;
    }
  }
}

/// -------------------
/// Link icon
/// -------------------

.link__icn {
  &--start {
    margin-right: spacing.$xxs;
  }

  &--end {
    margin-left: spacing.$xxs;
  }
}