# This is a basic workflow to help you get started with Actions

name: Release a new package version

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: 
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # Build
    - name: Installs dependencies
      run: |
        npm ci
        npm run test
        npm run build:components

    # Runs a set of commands using the runners shell
    - name: Run tests
      run: |
        npm config set '//registry.npmjs.org/:_authToken' '${NPM_TOKEN}'
        npm version from-git -m "Upgrade to %s [skip-ci]"
        git push && git push tags
        npm publish

